.chairWrapper {
    position: absolute;
    --chair-wrapper-width: 114px;
    --chair-wrapper-height: 114px;
    width: var(--chair-wrapper-width);
    height: var(--chair-wrapper-height);
    left: calc(50% - calc(var(--chair-wrapper-width) * 0.5));
    top: calc(50% - calc(var(--chair-wrapper-height) * 0.5));
    transition: var(--transition);

    .chair {
        position: relative;
        --chair-width: 96px;
        --chair-height: 83px;
        --chair-height-d: 23px;
        width: var(--chair-width);
        height: var(--chair-height);
        border-radius: 0 0 5px 5px;
        margin: var(--chair-height-d) auto auto;
        background: linear-gradient(to top, var(--secondary) 0%, var(--primary) 100%);
        transform: var(--chair-translate);
        transition: var(--transition);

        &:before, &:after {
            position: absolute;
            display: block;
            content: '';
            height: 6px;
            width: 10px;
            left: 12px;
            bottom: -6px;
            background:   var(--accent);
            border-radius: 0 0 12px 12px;
            z-index: -1;
        }

        &:after {
            left: inherit;
            right: 12px;
        }

        .chairD {
            position: absolute;
            top: calc(-1 * var(--chair-height-d));
            width: var(--chair-wrapper-width);
            height: var(--chair-height-d);
            left: calc(calc(var(--chair-wrapper-width) - var(--chair-width)) * -0.5);
            border-radius: 11px;
            background: linear-gradient(to top, var(--secondary) 0%, var(--primary) 100%);
        }
    }
}
