.tableType {
    display: flex;
    padding: 16px;

    .table {
        width: 50px;
        height: 50px;
        background: var(--primary);
        margin-right: 4px;
        border-radius: 4px;


        &.circle {
            border-radius: 50%;
        }

        &.rectangle {
            width: 80px;
        }


        &.active {
            background: var(--secondary);
        }
    }
}
