:root {
    --primary: #ecf0f3;
    --secondary: #b9c2d1;
    --accent: #c4c4c4;
    --text: #616161;
    --transition: all 0.3s cubic-bezier(1, 0, 0.49, 1.55);
}

*,
:after,
:before {
    box-sizing: border-box;
}
